:root {
  font-family: "Segoe UI", sans-serif;
  --pri-text: #1f2544;
  --sec-text: #979797;
  --background: #fff;
  --background2: #fff;
  --border-color: #eee;
  --border-radius: 0.5em;
}

.dark {
  --pri-text: #ddd;
  --sec-text: #ddd;
  --background: #000;
  --background2: #1f1f1f;
  --border-color: #808080;
}

body {
  background-color: var(--background);
}

header {
  display: flex;
  flex-direction: column;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background2);
}

header div a {
  font-weight: bold;
  font-size: 0.875em;
  text-decoration: none;
  color: var(--pri-text);
}

header div i {
  padding-right: 1em;
}

header div button {
  border: none;
  background: none;
  outline: none;
  animation: rotation 2s infinite linear;
  animation-play-state: paused;
  padding-bottom: 0.15em;
}

header div button:hover {
  transform: rotate(90deg);
  animation-play-state: running;
}

header nav {
  z-index: 2;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.12);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background2);
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0.75em 0;
}

header nav a {
  text-decoration: none;
  color: var(--sec-text);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.75em;
  padding: 1em 0.5em;
}

main {
  margin-top: 2.5em;
  padding: 0.5em;
}

#forwardIcons ul {
  display: flex;
  justify-content: stretch;
}

#forwardIcons li {
  padding: 0.25em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid transparent;
}

#forwardIcons li a {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--pri-text);
  text-decoration: none;
}

#forwardIcons i {
  padding-bottom: 0.5em;
}

#forwardIcons span {
  font-size: 0.8em;
}

#forwardIcons li span::after {
  font-size: 0.75em;
  font-family: FontAwesome;
  content: "\f054";
  padding-left: 0.5em;
}

#forwardIcons li:hover {
  border: 1px solid var(--pri-text);
  border-radius: 0.5em;
}

.newsSection {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1em;
}

.newsSection > a {
  color: #fff;
}

.newsSection > a figure {
  position: relative;
  margin-bottom: 1em;
  height: 22.5em;
}

.newsSection > a figure img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
}

.newsSection > a figure figcaption {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  bottom: 1em;
  left: 0.5em;
  right: 0.5em;
}

.newsSection ul li {
  margin-bottom: 1em;
}

.newsSection li > a {
  color: var(--pri-text);
  text-decoration: none;
}

.newsSection li > a:hover {
  text-decoration: underline;
}

.newsSection ul li:last-child {
  text-align: center;
  font-weight: bold;
  padding: 0.25em;
}

.newsSection ul li:last-child a::after {
  font-weight: normal;
  font-size: 0.75em;
  font-family: FontAwesome;
  content: "\f054";
  padding-left: 0.5em;
}

.newsSection ul article {
  display: flex;
  align-items: center;
  position: relative;
}

.newsSection article figure {
  position: relative;
  flex: 0 0 7.5em;
}

.newsSection article img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
}

.newsSection article p {
  padding: 1em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.newsSection article p[data-attribute]::before {
  content: attr(data-attribute);
  color: #c40000;
}

.newsSection article time {
  color: #fff;
  position: absolute;
  right: 0.5em;
  bottom: 1em;
}

.newsSection article p[data-attribute="Video"]::after {
  color: #fff;
  font-family: FontAwesome;
  font-size: 2em;
  content: "\f144";
  position: absolute;
  left: 0.25em;
  bottom: 0.25em;
}

#shamelessAd {
  border: 1px solid var(--border-color);
  background-color: var(--background2);
  position: relative;
  padding: 1.25em;
  padding-left: 4.2em;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.875em;
}

#shamelessAd article h3 {
  font-weight: bold;
  color: var(--pri-text);
  padding-bottom: 1em;
}

#shamelessAd article p {
  color: var(--pri-text);
  padding-bottom: 1em;
}

#shamelessAd div {
  margin-left: auto;
}

#shamelessAd button {
border: none;
padding: 0.5em 1em;
}

button.darkPattern {
  background: none;
  color: var(--pri-text);
  border-radius: 1.5em;
  margin-right: 1em;
}

button.darkPattern:hover {
  background-color: var(--border-color)
}

button.lightPattern {
  font-weight: bold;
  color: #fff;
  background-color: #1f2544;
  border-radius: 1.5em;
}

.dark button.lightPattern {
  background: hsla(0,0%,50.2%,.2)
}

.dark button.darkPattern {
  background: hsla(0,0%,50.2%,.1)
}

#shamelessAd::before {
  color: var(--pri-text);
  font-family: FontAwesome;
  font-size: 2em;
  position: absolute;
  left: 0.5em;
  top: 0.75em;
  content: "\f0f3";
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg)
  }
}